* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

/*                    HEADER                     */
header {
  display: flex;
  flex-wrap: wrap;

  background-color: #2e948a;

  height: 117px;

  justify-content: space-between;
}

#logo img {
  width: 244px;
  height: 77px;

  padding-top: 20px;
  padding-left: 82px;
}

header ul {
  display: flex;

  align-items: center;
  list-style: none;

  padding-right: 102px;
  padding-top: auto;
}

header ul li {
  padding-right: 2.625rem;
}

header ul li a {
  text-decoration: none;

  color: #fdfdfd;

  font-weight: 700;
  font-size: 20px;

  transition: 300ms;
}

header ul li a:hover {
  color: #e4dddd;
}

/*                    FOOTER                        */

footer {
  background: #419488;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  min-height: 13rem;

}

img.logo-footer {
  width: 312px;
  height: 101.43px;

  padding-top: 3.312rem;
  padding-left: 8rem;
}

footer div.links ul {
  list-style: none;

  padding-top: 3.312rem;
  padding-right: 20rem;
}

footer div.links ul li {
  padding-bottom: 0.5rem;
}
footer div.links ul li a {
  transition: 300ms;
  text-decoration: none;

  color: #fdfdfd;

  font-weight: 400;
  font-size: 20px;

  cursor: pointer;
}
footer div.links ul li a:hover {
  color: #e4dddd;
}

footer button {
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 62px;

  background-color: #419488;

  width: 289px;
  height: 51px;
}

footer button a {
  font-weight: 400;
  font-size: 20px;

  text-decoration: none;
  text-align: center;

  color: #ffffff;
}

footer div.buttons {
  display: inline-grid;

  padding-top: 3.125rem;
  padding-right: 8.562rem;
  
}
div.buttons button{
  margin-bottom: 15px;
}

/*-----------home-------------*/
#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 125px 0;
}
#home-texto {
  margin: 0 20px;
}
#home-texto * {
  margin: 20px;
}
#home-texto h1 {
  font-size: 60px;
  color: #ff4081;
}
#home-texto h6 {
  font-size: 27px;
  color: #555555;
  font-weight: lighter;
}
#home-texto button {
  font-size: 27px;
  background-color: #fdfdfd;
  border: 2px solid #ff4081;
  color: #ff4081;
  border-radius: 9em;
  padding: 12px 26px;
  cursor: pointer;

  transition: 300ms;
}

#home-texto button:hover {
  background-color: #ff4081;
  color: white;
}
#home-imagem {
  margin: 0 20px;
}

#home-imagem img {
  height: 511px;
}

/*-----------cursos-------------*/
#cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f6f6f6;
}
.curso {
  margin: 110px 0;
  text-align: center;
}
.curso img {
  height: 270px;
  margin-bottom: 45px;
}
.curso h1 {
  color: #ff4081;
  font-size: 25px;
  margin-bottom: 23px;
}
.curso p {
  font-size: 17px;
  font-weight: lighter;
  margin-bottom: 23px;
}
.curso button {
  font-size: 20px;
  border-color: #ff4081;
  border-style: none;
  background-color: #ff4081;
  color: #fdfdfd;
  border-radius: 9em;
  padding: 15.5px 40px;
  cursor: pointer;
  transition: 300ms;
}
.curso button:hover {
  background: #ae2150;
}

/*-----------reviews-------------*/
#reviews {
  padding: 110px 128px;
}
#reviews-header {
  margin-bottom: 80px;
}
#reviews-header h1 {
  font-size: 37px;
  font-weight: bold;
  color: #009688;
}
#reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.review {
  padding: 40px 0;
  display: flex;
  margin: auto 0;
}
.review img {
  margin: auto 0;
  margin-right: 28px;
}

.review-text {
  margin: auto 0;
}
.review-text * {
  color: #000000;
  font-size: 18px;
}
.review-text p {
  font-weight: light;
  margin-bottom: 10px;
}

/*-----------posts-------------*/
#posts {
  padding: 60px 10px;
  background-color: #f6f6f6;
}
#posts-header {
  margin: 40px 0;
}
#posts-header h1 {
  font-size: 37px;
  padding-left: 70px;
  font-weight: bold;
  color: #009688;
}
#posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.postagem {
  margin: 40px 50px;
}
.postagem img {
  margin-bottom: 10px;
}

.postagem h1 {
  font-size: 27px;
  font-weight: bold;
  color: #009688;
}
.postagem p {
  font-size: 18px;
  color: #000000;
}

.btn-vermelho-vazio {
  text-align: center;
}
.btn-vermelho-vazio button {
  position: relative;
  top: 50%;
  font-size: 25px;
  background-color: transparent;
  border: 2px solid #ff4081;
  color: #ff4081;
  border-radius: 9em;
  padding: 10px 40px;
  cursor: pointer;
  transition: 300ms;
}
.btn-vermelho-vazio button:hover {
  background-color: #ff4081;
  color: white;
}

/*-----------contato-------------*/
#contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px 0;
  width: 100%;
}

#contato-form form {
  width: 472px;
}
#contato-form h1 {
  font-size: 40px;
  font-weight: bold;
  color: #ff4081;
  margin-bottom: 45px;
}
#contato-form * {
  margin-bottom: 15px;
}
#contato-form input {
  width: 100%;
  height: 32px;
  display: block;
  border-radius: 5px;
  padding-left: 21px;
}
#contato-form textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #000000;
  padding-left: 21px;
  padding-top: 10px;
}
#contato-form button {
  display: block;
  font-size: 16px;
  font-weight: bolder;
  border-color: #ff4081;
  border-style: none;
  background-color: #ff4081;
  color: #fdfdfd;
  border-radius: 9em;
  padding: 7px 20px;
  cursor: pointer;

  transition: 300ms;
}

#contato-form button:hover {
  background-color: #ae2150;
}

#contato-imagem {
  margin: auto 0;
}
/*                   BLOG                         */

#blog main {
  background-color: #ffffff;
  min-height: 33.875rem;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}
#blog main div {
  max-width: 32rem;
  min-width: 300px;
}
#blog main div h1 {
  color: #2e948a;

  font-weight: 700;
  font-size: 47px;

  padding-top: 7.625rem;
}

#blog main img {
  width: 25.31rem;
  height: 25.31rem;

  padding-top: 3rem;
  padding-right: 13.125rem;
}

section.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: #e5e5e5;
  padding:0 60px;
}
div.col-a{
  padding:0 60px;
}
div.col-b{
  padding:0 60px;
}
div.post {
  width: 32.375rem;
  height: 25.687rem;

  margin: 0;

  padding-top: 6.812rem;
  padding-bottom: 10.625rem;
}
div.post a {
  text-decoration: none;
}

div.post h3 {
  color: #ff4081;

  padding: 1.2rem 0;

  font-weight: 500 bold;
  font-size: 30px;
}

/*                       POST                       */

#post div.tittle {
  text-align: center;

  padding-top: 6.94rem;
}

#post div.tittle h1 {
  color: #ff4081;

  font-weight: 500 bold;
  font-size: 50px;
  width: 80%;
  margin: auto;
}

#post div.tittle p {
  color: #9d9d9d;

  padding-bottom: 6.625rem;
}

#post img {
  padding-bottom: 4rem;

  display: flex;

  margin-left: auto;
  margin-right: auto;
}

#post div.content{
  margin-bottom: 111px;
}

#post div.content h2 {
  color: #419488;

  font-weight: 500;
  text-align: left;

  padding-bottom: 1.5rem;
  padding-top: 2.5rem;

  width: 64.5rem;
  margin: auto;
}

#post div.content p {
  font-weight: 300;
  text-align: left;

  width: 1032px;

  padding-bottom: 1rem;
  margin: auto;
}

/*                      CURSOS                   */

#navigation {
  background: #f7f7f7;

  margin-top: 10rem;

  min-height: 899px;
}

#navigation h1 {
  color: #ff4081;
  text-align: center;

  font-weight: 500 bold;
  font-size: 50px;

  padding-top: 4.937rem;
  padding-bottom: 6.4rem;
}

#navigation div.cursos {
  display: flex;
  justify-content: space-around;
}

#navigation div.cursos img {
  width: 288px;
  height: 279.06px;
}

#navigation div.cursos h2 {
  color: #ff4081;

  font-weight: 700;
  font-size: 25px;

  text-align: center;

  padding-top: 3.25rem;
  padding-bottom: 1.77rem;
}

#navigation div.cursos p {
  font-weight: 300;
  font-size: 17px;

  text-align: center;

  padding-bottom: 2rem;
}

#navigation div.cursos button {
  background: #ff4081;

  border-radius: 62px;
  border: none;

  width: 233px;
  height: 62.81px;
  margin-bottom: 6rem;

  transition: 300ms;
  cursor: pointer;
}

#navigation div.cursos button:hover {
  background: #ae2150;
}

#navigation div.cursos button a {
  text-decoration: none;

  font-weight: 400;
  font-size: 20px;

  color: #ffffff;
}

#navigation div.curso {
  width: 344px;
  height: 563.91px;

  text-align: center;
}

/*                  CURSOS                     */

section.tittle {
  padding: 85px;
}

section.tittle h1 {
  color: #ff4081;

  font-weight: 700 bold;
  font-size: 60px;

  padding-bottom: 5px;
}
section.tittle p {
  color: #555555;

  font-weight: 400 bold;
  font-size: 20px;

  padding-bottom: 5px;
}
#cursos-container div.curso {
  display: flex;
  padding: 68px 112px;
}

#cursos-container div.curso-03 {
  padding-left: 128px;

  padding-bottom: 202px;
}

#cursos-container div.text-03 {
  padding-left: 67px;
}

#cursos-container div.curso img {
  width: 380px;
  height: 380px;

  padding-right: 53px;
}

#cursos-container div.curso h2 {
  color: #ff4081;
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 37px;
}

#cursos-container div.curso p {
  padding-bottom: 66px;
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  width: 50%;
}

#cursos-container div.curso a {
  text-decoration: none;
  color: #ffffff;
}

#cursos-container div.curso button {
  background: #2e948a;

  border-radius: 62px;
  border: none;

  width: 233px;
  height: 51px;
  float: left;

  text-align: center;

  transition: 300ms;
}

#cursos-container div.curso button:hover {
  background-color: #306c63;
}

#cursos-container .curso-texto * {
  text-align: left;
}

hr {
  width: 75%;
  margin: auto;
}



/*-----------------------CURSO-----------------------*/
#curso-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 540px;
  padding: 80px 200px;
}
#curso-home div {
  margin: 0 20px;
}
#curso-home-texto h1 {
  font-size: 55px;
  font-weight: 700;
  color: #ff4081;
  margin-bottom: 22px;
}
#curso-home-texto p {
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 22px;
}

.primeira img {
  padding-top: 80px;
  padding-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;

  width: 700px;
  height: 280px;
}

.aulas img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 180px;
}

hr {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
}

.borda {
  background-color: #f6f6f6;
}

.aulas{
  padding: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aulas div{
  margin:0 40px;
}

.aulas-texto h1{
  color:#FF4081;
  font-size:35px;
  font-weight:700px;
  margin-bottom: 26px
}

.aulas-texto p{
  color:#000000;
  font-weight: 300;
  font-size:20px;
}


/*                    MEDIA SCREEN                         */
@media (max-width: 1200px) {
  body {
    max-width: 1180px;
  }

  header footer{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;

    
  }
  img.logo-footer {
    width: 230px;

    height: 80px;
    padding-left: 45px;
  }

  footer div.links ul {
    padding-left: 125px;
  }

  footer div.buttons {
    padding-right: 100px;
  }

  #cursos {
    width: 1200px;
  }
}

@media (max-width: 992px) {
  body {
    max-width: 970px;
  }

  header footer {
    width: 992px;
    display: flex;
    flex-wrap: wrap;


  }

  #home-texto h1 {
    font-size: 40px;
  }

  #home-texto h6 {
    font-size: 18px;
  }
  #home-texto button {
    font-size: 18px;
  }

  #home-imagem img {
    height: 340px;
    width: 340px;

    margin-left: 50px;
  }

  .curso {
    width: 200px;
    padding: 0 65px;
  }

  .curso img {
    width: 180px;
    height: 180px;
  }

  .curso h1 {
    font-size: 20px;
  }

  .curso p {
    font-size: 12px;
  }

  .curso button {
    padding: 15px 25px;
    font-size: 14px;
  }

  #cursos {
    width: auto;
  }

  img.logo-footer {
    width: 230px;

    height: 80px;
    padding-left: 45px;
  }

  footer div.links ul {
    padding-right: 80px;
    padding-left: 0px;
  }


  #cursos-container div.curso img {
    width: 270px;
    height: 270px;
  }

  #cursos-container div.curso p {
    width: 375px;
    padding-bottom: 25px;
  }

  #post img {
    width: 80%;
  }

  #post div.content p {
    width: 80%;
    
  }

  #post div.content h2 {
    width: 80%;

  }
}

@media (max-width: 769px) {
  body {
    max-width: 750px;
  }

  header footer {
    width: 769px;
    display: flex;
    flex-wrap: wrap;
    

  }

  #logo img {
    padding-left: 30px;
  }

  header ul {
    padding-right: 12px;
  }

  header ul li {
    padding-right: 20px;
  }

  #home-texto {
    margin: 0;
  }

  #home-texto h6 {
    font-size: 16px;
  }
  #home-texto button {
    font-size: 16px;
  }

  #home-imagem {
    width: 390px;
  }

  #cursos {
    padding-left: 55px;
  }

  .curso-03 {
    margin-left: 160px;
  }

  hr {
    width: 85%;
  }

  img.logo-footer {
    width: 230px;

    height: 80px;
    padding-left: 35px;
  }

  footer div.links ul {
    padding-left: 40px;
    padding-right: 50px;
  }


  footer button a {
    font-size: 20px;
  }


  #cursos-container div.curso-03 {
    margin-left: -5px;
  }

  #cursos-container div.curso {
    padding: 68px 45px;
  }
}

@media (max-width: 576px) {
  #contato-form form {
    width: 100%;
  }
  #contato-imagem img {
    width: 100%;
  }
  body {
    max-width: 550px;
  }

  header footer{
    width: 576px; 
    display: flex;
    flex-wrap: wrap;

  }

  #logo img {
    padding-left: 15px;
    width: 185px;
    height: 70px;
  }

  header ul {
    padding-right: 12px;
  }

  header ul li a {
    font-size: 15px;
  }

  header ul li {
    padding-right: 20px;
  }

  #home-texto h1 {
    font-size: 35px;
  }
  #home-texto {
    margin: 0;
  }

  #home-texto h6 {
    font-size: 14px;
  }
  #home-texto button {
    font-size: 16px;
    margin-left: 45px;
  }

  #home-imagem {
    width: 460px;
  }

  #cursos {
    padding-left: 129px;
  }

  .curso-03 {
    margin-left: 0px;
  }

  #reviews-header h1 {
    text-align: center;
  }
  .review-text p {
    font-size: 12px;
  }

  .postagem p {
    font-size: 12px;
  }

  .btn-vermelho-vazio button {
    font-size: 18px;
  }

  img.logo-footer {
    width: 185px;
    height: 70px;

    padding-left: 20px;
  }

  footer div.links ul {
    padding-left: 10px;
    padding-right: 25px;
  }

  footer button {
    width: 200px;
    margin: 0;
  }


  footer button a {
    font-size: 18px;
  }

  #cursos-container div.curso img {
    width: 200px;
    height: 200px;
    padding-right: 18px;
  }
  #cursos-container div.curso h2 {
    font-size: 26px;
  }

  #cursos-container div.curso {
    padding: 68px 20px;
  }

  #cursos-container div.curso p {
    width: 250px;
    font-size: 14px;
  }
}
